@import "santa.css";

.navbar {
  background-color: transparent;
  border: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #de2f32;/*#c9e1e0;*/
  overflow-x: hidden;
}

body::-webkit-scrollbar { 
  display: none; 
}

/* Animations */
@keyframes hover {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -.2em, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.nextIndicator {
  font-size: 80px;
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
  animation-name: hover;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
  color: #f8e7dc;
}
.santa-container {
  margin-left: 50%;
  margin-top: 200px;
}
.nextIndicator:hover {
  color: white;
  cursor: pointer;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  /*display: flex;
  flex-direction: column;*/
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:visited {
  background-color: #de2f32/*#db3e3e*/ !important;
  font-family: 'Open Sans', sans-serif;
  border: 5px solid #f8e7dc;
  border: none;
}

.acknowledge {
  font-size: 24px;
  padding: 15px 20px;
  border: 5px solid #f8e7dc;
}

.title {
  font-family: 'Berkshire Swash', cursive;
  font-size: 72px;
  color: #f8e7dc;
  /*text-shadow: 0 .05em .1em #f8e7dc;*/
}

.white {
  color: white;
}

.p1 {
  font-family: 'Berkshire Swash', cursive;
  /*text-shadow: 0 .05em .1em #f8e7dc;*/
  font-size: 64px;
  color: #f8e7dc;
}

.p2 {
  font-family: 'Berkshire Swash', cursive;
  color: #de2f32;
  /*text-shadow: 0 .05em .1em #f8e7dc;*/
  font-size: 32px;
  color: #f8e7dc;
}

.clearfix {
  clear: both;
}

.p3 {
  font-family: 'Open Sans', sans-serif;
  color: #db3e3e;
  font-weight: bold;
  /*text-shadow: 0 .05em .1em #f8e7dc;*/
  font-size: 20px;
}

.scrolling-container {
  justify-content: center;
}

.lock {
  font-size: 100px;
  color:#f8e7dc;
}

.helperBlock {
  min-height: 30vh;
}

.empty-block-25 {
  min-height:25px;
}

.empty-block-50 {
  min-height:50px;
}

.empty-block-100 {
  min-height:100px;
}

.empty-block-200 {
  min-height:200px;
}

.empty-block-300 {
  min-height:300px;
}

.empty-block-400 {
  min-height:400px;
}

.empty-block-500 {
  min-height:500px;
}

.empty-block-600 {
  min-height:600px;
}

.chatContainer {
  margin: 0.5em 0;
}

.bumbleProfile {
  max-width: 100px;
}

.photo {
  max-width: 600px;
}
.polaroidFiller {
  display: none !important;
}

.polaroid-images {
  display: flex;
  justify-content: center;
}

.polaroid-images a {
    background: white;
    font-family: 'Open Sans', sans-serif;
    display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
        position:relative;
}

.polaroid-images a:after {
  color: #333;
  font-size: 20px;
  content: attr(title);
  position: relative;
  top:15px;
}

.polaroid-images img { 
  display: block; 
  width: inherit; 
}

.polaroid-images a:nth-child(2n)
{
    -webkit-transform: rotate(4deg);  
    -moz-transform: rotate(4deg); 
    transform: rotate(4deg); 
}
.polaroid-images a:nth-child(3n) { 
    -webkit-transform: rotate(-24deg);  
    -moz-transform: rotate(-24deg); 
    transform: rotate(-24deg); 
}
.polaroid-images a:nth-child(4n)
{
    -webkit-transform: rotate(14deg);  
    -moz-transform: rotate(14deg); 
    transform: rotate(14deg); 
}
.polaroid-images a:nth-child(5n)
{
    -webkit-transform: rotate(-18deg);  
    -moz-transform: rotate(-18deg); 
    transform: rotate(-18deg); 
}

.polaroid-images a:hover{
  -webkit-transform: rotate(0deg); 
  -moz-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transform: scale(1.5); 
  -moz-transform: scale(1.5);
      transform: scale(1.5);
  z-index:10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
      box-shadow: 0 10px 20px rgba(0,0,0,.7);
}

.leftChatBubble {
  display: table;
	position: relative;
	background: #f8c537;
  border-radius: .4em;
  min-height: 50px;
  max-width: 400px;
  padding: 10px;
}

.leftChatBubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #f8c537;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.leftChatMessage {
  vertical-align: middle;
  display: table-cell;
  color: white;
  text-align: center;
  line-height: normal;
  font-size: 15px;
  font-weight: 500;
  font-family: Helvetica Neue;
}

.rightChatBubble {
  display: table;
	position: relative;
	background: #dedede;
  border-radius: .4em;
  min-height: 50px;
  max-width: 400px;
  padding: 10px;
}

.rightChatBubble:after {
  content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #dedede;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.rightChatMessage {
  vertical-align: middle;
  display: table-cell;
  color: #333;
  text-align: center;
  line-height: normal;
  font-size: 15px;
  font-weight: 500;
  font-family: Helvetica Neue;
}

#loading {
  animation: 2s blink linear infinite;
}

.barloader {
  display: block;
  margin: 0 auto;
}

.Typist .Cursor {
  display: inline-block;
  font-size: 64px;
}
.Typist .Cursor--blinking {
  animation: 1s blink step-end infinite;
}
@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #f8e7dc;
  }
}

.center {
  display: flex;
  justify-content: center;
}